
<section id="table-of-contents">
  <nav class="table-of-contents-nav"> 
    <ul>
      <li class="tbl-header"> Table of Contents </li>
      <li class="hide" id="hide-table-of-contents">&#10006</li>
    <ul>
  </nav>
  <ul class="list">
    <% var contentsItem = new App.Views.TableOfContentsItem({ model: resource.firstSection() }) %>
    <%= contentsItem.render().$el.html() %>
  </ul>
</section>

<section class="resource" data-resource-id="<%= resource.get("id") %>">

  <section class="title-page">

    <h1><%= resource.get("title") %>          </h1>
    <h2><%= resource.get("sub_title") %>      </h2>

    <p><%= resource.get("description") %>     </p>

    <h3>By <%= resource.get("author_name") %> </h3>

  </section>

  <section class="sections-wrapper">

    <% var sectionView = new App.Views.SectionShow({ model: resource.firstSection() }) %>
    <%= sectionView.render().$el.html() %>

  </section>

</section>