<section class="resource" data-resource-id="<%= resource.get("id") %>">

  <section class="title-page">

    <h1><%= resource.get("title") %>          </h1>
    <h2><%= resource.get("sub_title") %>      </h2>
    <h3>By <%= resource.get("author_name") %> </h3>
    <p><%= resource.get("description") %>     </p>

  </section>

  <section class="sections-wrapper">

    <% sectionView = new App.Views.SectionShow({ model: resource.firstSection() }) %>
    <%= sectionView.render().$el.html() %>

  </section>

</section>