
<%
if ( note.get('private') ) {
  var checked = "checked";
} else {
  var checked = "";
}
if ( note.isNew() ) {
  var buttonLabel = "Add";
  var header = "Create Note";
} else {
  var buttonLabel = "Save";
  var header = "Edit Note";
}

%>

<section class="note-modal-form large reveal-modal">

	<a class="close-reveal-modal">&#215</a>

  <form class="edit-note-form">
    <h1><%= header %></h1>

      <label> Source Text
        <% if ( note.get("section_text") ) { %>
          <p class="section-text"><%= note.escape("section_text") %></p>
        <% } else { %>
          <p class="section-text">None. To add a note with source text, create the note using the highlighting tool.</p>
        <% } %>    
      </label>

    <label> My Note
      <textarea name="note[body]"><%= note.escape("body") %></textarea>
    </label>

    <div class="group">
        <input id="note-private" type="checkbox" name="note[private]" <%= checked %>>
        <label class="check-label" for="note-private">Private?</label>
    </div>

    <button class="submit-note btn-blue"><%= buttonLabel %></button>

  </form>

</section>