


<li class='social question' data-question-id="<%= question.get('id') %>">
  <div class="social-list-item">
    <p class="social-title"><%= question.escape("title") %></p>
    <div class="social-data">
      <%
      if (question.get("vote_score") < 0) {
        var scoreType = "negative";
      } else {
        var scoreType = "positive";
      }
      %>
      <p class="social-vote-score-<%= scoreType %>"><span class="glyphicon glyphicon-star"></span> <%= question.escape("vote_score") %></p>
      <p class="social-post-count"><span class="glyphicon glyphicon-font"></span> <%= question.escape("answer_count") %></p>
      <%
      if (question.get("answered")) {
        var answered = "answered";
      } else {
        var answered = "unanswered";
      }
      %>
      <p class="question-<%= answered %>"><span class="glyphicon glyphicon-ok"></span></p>
    </div>
  </div>
</li>