<%
	if (hidden) {
		var style = "display:none";
	} else {
		var style = "";
	}
%>


<section class="discussions" style="<%= style %>">

  <% var discussionForm = new App.Views.DiscussionForm() %>
  <%= discussionForm.render().$el.html() %>
  <h3> Discussions on <%= App.CurrentState.resource.get("title") %> </h3>

  <ul>
  <% _.each(discussions.models, function (discussion) { %>
    <li class="discussion" data-discussion-id="<%= discussion.get('id') %>"><%= discussion.escape("title") %></li>
  <% }) %>
  </ul>

</section>