<!DOCTYPE html>
<html>
<head>
  <title>Resource Root</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_user.nil? %>
    <ul class="top-nav">
	  	<li class="logo">Resource Root</li>
	  	<li class="right link"><%= button_to "logout", session_url, :method => :delete %></li>
	    <li class="right">Welcome, <%= current_user.username %> |</li>
    </ul>
<% else %>
    <ul class="top-nav">
	  	<li class="logo">Resource Root</li>
	  	<li class="right link"><%= link_to "login", new_session_url %></li>
    </ul>
<% end %>

	<div class='content'>
		<div class="rails-view">
			<%= yield %>
		</div>

	</div>

</body>
</html>
