<!DOCTYPE html>
<html>
<head>
  <title>Resource Root</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_user.nil? %>
    <nav class="top-nav">
	  	<p class="logo">Resource Root</p>

      <ul>
        <li class="right drop-down">Welcome, <%= current_user.username %> </li>
        <li class="right drop-down">Notes </li>
        <li class="right drop-down">Discussions </li>
        <li class="right drop-down">Questions </li>
  	  	<li class="right link"><%= button_to "logout", session_url, :method => :delete %></li>
      </ul>
    </nav>
<% else %>
    <nav class="top-nav">
    	<p class="logo">Resource Root</p>

      <ul>
        <li class="right link"><%= link_to "login", new_session_url %></li>
      </ul>
    </nav>
<% end %>

<div id="content">

  <div id="rails-content">
	  <%= yield %>
  </div>

	<div id="resource-content">

	</div>

  <div id="social-content">

  </div>

</div>
</body>
</html>
